#board {
    text-align: center;
    margin: 0 auto;
    border: 1px red solid;
    padding-top: 3em;
    width: 302px;
}

.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row > div:hover {
    cursor: pointer;
}

.row {
    float: none;
    clear: both;
    width: 302px;
    margin: 0 auto;
}

.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.right {
    border-left: 1px black solid;
}
